$color-primary: red;
$color-secondary: blue;
$color-tertiary: green;

@mixin article-card($color, $border-color, $font-size: 1rem) {
  color: $color;
  border: 1px solid $border-color;
  font-size: $font-size;
}

* {
  text-align: center;
}

div {
  display: inline-block;
  border: 1px solid $color-primary;
  padding: 20px;

  h1 {
    color: $color-tertiary;
    text-decoration: 1px underline $color-secondary;
  }

  section {
    display: flex;

    article {
      flex: 1;
      padding: 5px;
      @include article-card($color-secondary, $color-tertiary);

      &:nth-child(odd) {
        color: $color-secondary;
      }

      &:nth-child(even) {
        color: $color-primary;
      }
    }

    &:last-child {
      margin-top: 20px;

      article {
        @include article-card($color-tertiary, $color-secondary, 24px);
      }
    }
  }
}